<div class="container-fluid">
    <div class="row" id="infoBlock">
        <div class="col-md-3" id="mainHeading">
            <h1 id="headingText">About Me</h1>
            <img src="../../images/ParkerBallnerHeadshot.png">
        </div>
        <div class="col" id="caption">
            <p>
                Welcome to my site! I'm a third-year undergraduate student at the University of North Carolina at Chapel Hill, majoring in Computer Science.
                I'm most experienced with software and web development, but have a passion for anything to do with technology and problem solving.
                <br>
                <br>
                Outside of programming, I enjoy working out, playing guitar, performing in theatre, skiing, and spending time with friends and family.
                Please take a look at the rest of the site, and I hope to be in contact soon!
                academics, personal interests, accomplishments. The reg.
            </p>                
        </div>
    </div>
</div>
<div class="container-fluid" id="academicsBlock">
    <div class="row" id="headingRow">
        <h1 id="headingText">Academics</h1>
    </div>
    <div class="row" id="rowOfInfo">
        <div class="center-block">
            <div id="thumbnail">
                <img src="../../images/UNC_Logo.png" class="img-fluid">
            </div>
            <div id="content">
                <h2 style="width: 100%">University of North Carolina at Chapel Hill</h2>
                <h4 id="empSubText"><a href="http://chancellorssciencescholars.web.unc.edu" target="blank">UNC Chancellor's Science Scholar</a></h4>
                <h4 id="empSubText">Bachelor of Science in Computer Science</h4>
                <br>
                <h4 id="subText">3.72 Cumulative GPA</h4>
                <h4 id="subText">Expected Graduation May 2019</h4>
            </div>
        </div>
    </div>
    <div class="row" id="rowOfInfo">
        <h3 id="subHeadingText">Relevant Coursework</h3>
        <div class="row" id="grid">
            <div class="col-sm-4">
                <h4 id="gridItem">Multivariable Calculus</h4>
                <h4 id="gridItem">Discrete Mathematics</h4>
                <h4 id="gridItem">Data Structures</h4>
            </div>
            <div class="col-sm-4">
                <h4 id="gridItem">Computer Organization</h4>
                <h4 id="gridItem">Linear Algebra</h4>
                <h4 id="gridItem">Algorithms and Analysis</h4>
            </div>
            <div class="col-sm-4">
                <h4 id="gridItem">Languages and Modeling</h4>
                <h4 id="gridItem">Modern Web Programming</h4>
                <h4 id="gridItem"></h4>
            </div>
        </div>
    </div>
    <div class="row" id="lastRowOfInfo">
        <h3 id="subHeadingText">Technical Skills</h3>
        <div class="row" id="grid">
            <div class="col-sm-4">
                <img src="../../images/HTML5_Logo.png" id="gridItem"> <!-- top 0 -->
                <img src="../../images/NodeJs_Logo.png" id="gridItem"> <!-- middle 0 -->
                <img src="../../images/MongoDB_Logo.png" id="gridItem"> <!-- bottom 0 -->
            </div>
            <div class="col-sm-4">
                <img src="../../images/CSS3_Logo.png" id="gridItem"> <!-- top 1 -->
                <img src="../../images/Angular_Logo.png" id="gridItem"> <!-- middle 1 -->
                <img src="../../images/Java_Logo.png" id="gridItem"> <!-- bottom 1 -->
            </div>
            <div class="col-sm-4">
                <img src="../../images/JS_Logo.png" id="gridItem"> <!-- top 2 -->
                <img src="../../images/Express_Logo.png" id="gridItem"> <!-- middle 2 -->
                <img src="../../images/C_Logo.png" id="gridItem"> <!-- bottom 2 -->
            </div>
        </div>
    </div>
</div>

<span>Extracirriculars Here</span>