<div class="container-fluid" id="headingBlock">
    <!-- Heading Section -->
    <div class="row">
        <div class="col-3" id="mainHeading">
            <h1 id="headingText">About Me</h1>
            <img src="../../images/ParkerBallnerHeadshot.png">
        </div>
        <div class="col" id="caption">
            <p>
                Welcome to my site! I'm a third-year undergraduate student at the University of North Carolina at Chapel Hill, majoring in
                Computer Science. I'm most experienced with software and web development, but have a passion for anything
                to do with technology and problem solving.
                <br>
                <br> 
                Outside of programming, I enjoy working out, playing guitar, performing in theatre, skiing, and spending
                time with friends and family. Please take a look at the rest of the site, and I hope to be in contact soon!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid" id="infoBlock"> <!-- Education Section -->
    <div class="row" id="headingRow">
        <h1 id="headingText">Education</h1>
    </div>
    <div class="row" id="rowOfInfo">
        <div class="col">
        </div>
        <div class="col" id="thumbnail">
            <img src="../../images/UNC_Logo.png" class="img-fluid">
        </div>
        <div class="col-auto" id="content">
            <h2>University of North Carolina at Chapel Hill</h2>
            <h4 id="empSubText"><a href="http://chancellorssciencescholars.web.unc.edu" target="blank">UNC Chancellor's Science Scholar</a></h4>
            <h4 id="empSubText">Bachelor of Science in Computer Science</h4>
            <br>
            <h4 id="subText">3.72 Cumulative GPA</h4>
            <h4 id="subText">Expected Graduation May 2019</h4>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row" id="rowOfInfo">
        <h3 id="subHeadingText">Relevant Coursework</h3>
        <div class="row" id="grid">
            <div class="col-4">
                <h4 id="gridItem">Multivariable Calculus</h4>
                <h4 id="gridItem">Discrete Mathematics</h4>
                <h4 id="gridItem">Data Structures</h4>
            </div>
            <div class="col-4">
                <h4 id="gridItem">Computer Organization</h4>
                <h4 id="gridItem">Linear Algebra</h4>
                <h4 id="gridItem">Algorithms and Analysis</h4>
            </div>
            <div class="col-4">
                <h4 id="gridItem">Languages and Modeling</h4>
                <h4 id="gridItem">Modern Web Programming</h4>
                <h4 id="gridItem"></h4>
            </div>
        </div>
    </div>
    <div class="row" id="lastRowOfInfo">
        <h3 id="subHeadingText">Technical Skills</h3>
        <div class="row" id="grid">
            <div class="col-4">
                <img src="../../images/HTML5_Logo.png" id="gridItem"> <!-- top 0 -->
                <img src="../../images/NodeJs_Logo.png" id="gridItem"> <!-- middle 0 -->
                <img src="../../images/MongoDB_Logo.png" id="gridItem"> <!-- bottom 0 -->
            </div>
            <div class="col-4">
                <img src="../../images/CSS3_Logo.png" id="gridItem"> <!-- top 1 -->
                <img src="../../images/Angular_Logo.png" id="gridItem"> <!-- middle 1 -->
                <img src="../../images/Java_Logo.png" id="gridItem"> <!-- bottom 1 -->
            </div>
            <div class="col-4">
                <img src="../../images/JS_Logo.png" id="gridItem"> <!-- top 2 -->
                <img src="../../images/Express_Logo.png" id="gridItem"> <!-- middle 2 -->
                <img src="../../images/C_Logo.png" id="gridItem"> <!-- bottom 2 -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="lastInfoBlock"> <!-- Extracirriculars Section -->
    <div class="row" id="headingRow">
        <h1 id="headingText">Extracirriculars</h1>
    </div>
    <div class="row" id="lastRowOfInfo">
        <div class="col">
        </div>
        <div class="col" id="thumbnail">
            <img src="../../images/EagleScout_Logo.png" class="img-fluid">
        </div>
        <div class="col-auto" id="content">
            <h2><a href="http://www.nctroop101.org/" target="blank">Boy Scouts of America</a></h2>
            <h4 id="empSubText">Eagle Scout</h4>
            <h4 id="subText">September 2004 - June 2015</h4>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row" id="lastRowOfInfo">
        <div class="col">
        </div>
        <div class="col" id="thumbnail">
            <img src="../../images/UNCCampusRec_Logo.png" class="img-fluid">
        </div>
        <div class="col-auto" id="content">
            <h2><a href="http://www.campusrec.unc.edu/" target="blank">NASM Certified Personal Trainer</a></h2>
            <h4 id="empSubText">Currently in Training</h4>
            <h4 id="subText">August 2017 - Present</h4>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row" id="lastRowOfInfo">
        <div class="col">
        </div>
        <div class="col" id="thumbnail">
            <img src="../../images/Pauper_Logo.png" class="img-fluid">
        </div>
        <div class="col-auto" id="content">
            <h2><a href="http://pauper.web.unc.edu/" target="blank">UNC Pauper Players - Student Theatre</a></h2>
            <h4 id="empSubText">Social Coordinator and Recruitment Coordinator</h4>
            <h4 id="subText">September 2015 - Present</h4>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row" id="lastRowOfInfo">
        <div class="col">
        </div>
        <div class="col" id="thumbnail">
            <img src="../../images/UNCCrew_Logo.png" class="img-fluid">
        </div>
        <div class="col-auto" id="content">
            <h2><a href="http://uncmenscrew.org/" target="blank">UNC Men's Crew</a></h2>
            <h4 id="empSubText">2016 Most Improved</h4>
            <h4 id="subText">August 2015 - June 2016</h4>
        </div>
        <div class="col">
        </div>
    </div>
</div>