<div class="container-fluid" id="topbar">
    <div class="row">
        <div class="col-md-auto" id="name">
            <span>Parker Ballner</span>
        </div>
        <div class="col" id="navbar">
            <a routerLink="/aboutme">About Me</a>
            <a routerLink="/workexperience">Work Experience</a>
            <a routerLink="/projects">Projects</a>
            <a routerLink="/contact">Contact Me</a>
        </div>
    </div>
</div>

<div class="container-fluid" id="content">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid" id="footer">
    <div class="container-fluid" id="footerContent">
        <img src="../../images/ParkerBallnerHeadshot.png" id="footerProfile">
        <h4>Parker Ballner // UNC 2019</h4>
        <a href="mailto:pballner@gmail.com"><img src="../../images/Email_Logo.png" id="footerIcon"></a>
        <a href="https://github.com/parker-ballner" target="blank"><img src="../../images/GitHub_Logo.png" id="footerIcon"></a>
        <a href="https://www.linkedin.com/in/parker-ballner-59215a127" target="blank"><img src="../../images/LinkedIn_Logo.png" id="footerIcon"></a>
        <a href="https://www.facebook.com/parker.ballner" target="blank"><img src="../../images/Facebook_Logo.png" id="footerIcon"></a>
    </div>
</div>